/* ===================================Common CSS====================================== */
:root{
    --dmSans: "DM Sans", serif;

    --blackColor: rgba(38, 38, 38, 1);
    --whiteColor: rgba(255, 255, 255, 1);
    --creamColor: rgba(245, 245, 243, 1);
    --lightTextColor: rgba(109, 109, 109, 1);
    --greyTextColor: rgba(118, 118, 118, 1);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

div,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
section {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: center;
}

html{
    scroll-behavior: smooth;
}
/* ===================================Common CSS====================================== */



/* ===================================Navbar CSS====================================== */

/* ===================================Navbar CSS====================================== */



/* ===================================Category CSS====================================== */

/* ===================================Category CSS====================================== */



/* ===================================Hero CSS====================================== */

/* ===================================Hero CSS====================================== */


/* ===================================Sale CSS====================================== */

/* ===================================Sale CSS====================================== */



/* ===================================NewArrivals CSS====================================== */

/* ===================================NewArrivals CSS====================================== */



/* ===================================PhoneOfTheYear CSS====================================== */

/* ===================================PhoneOfTheYear CSS====================================== */



/* ===================================SpecialOffers CSS====================================== */

/* ===================================SpecialOffers CSS====================================== */



/* ===================================Footer CSS====================================== */

/* ===================================Footer CSS====================================== */
